{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
    	{% include 'includes/my_faimily_members.html' %}
    	{% include 'includes/my_vehicle_listing.html' %}
    </div>

    <div class="col-lg-4">
    	{% events %}
    	{% birthday_aniversary_today %}
    </div>
</div>
{% include 'shared/model_new_faimily_member.html' %}

{% endblock %}





{% block EXTRAJS %}

<script type="text/javascript">
var $modal = $('.modal');

// Show loader & then get content when modal is shown
$modal.on('show.bs.modal', function(e) {
  var url = $(e.relatedTarget).data('url');
  $(this)
    .addClass('modal-scrollfix')
    .find('.modal-body')
    .html('loading...')
    .load(url, function() {
      $modal
        .removeClass('modal-scrollfix')
        .modal('handleUpdate');
    });
});
</script>

<script type="text/javascript">

$(document).on("click","#new-faimily-profile", function(){
	var postData = $("#create-faimily-form").serializeArray();
    var formURL = $("#create-faimily-form").attr("action");
    debugger
    $.ajax({
        url : formURL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR){
        	debugger
        	if (data.sucess == 'true'){
        		window.location.reload()
        	}else{
        		$("#createFaimilyMember")
        		.find('.modal-body')
        		.html(data)
        	}
            
            //$('#createFaimilyMember').modal('toggle');
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
        	console.log(jqXHR,textStatus,errorThrown)
        	console.log("on error")
        }
    });

})	

</script>
{% endblock %}