{% extends 'base.html' %}
{% load staticfiles %}
{% load tags %}
{% block content %}
<div class="row">
    <div class="col-lg-8">
    	{% include 'includes/my_faimily_members.html' %}
    	{% include 'includes/my_vehicle_listing.html' %}
    </div>

    <div class="col-lg-4">
    	{% events %}
    	{% birthday_aniversary_today %}
    </div>
</div>
{% include 'shared/model_new_faimily_member.html' %}

{% endblock %}





{% block EXTRAJS %}

<script type="text/javascript">
var $modal = $('.modal');

// Show loader & then get content when modal is shown
$modal.on('show.bs.modal', function(e) {
	debugger
  var url = $(e.relatedTarget).data('url');
  $(this)
    .addClass('modal-scrollfix')
    .find('.modal-body')
    .html('loading...')
    .load(url, function() {
      // Use Bootstrap's built-in function to fix scrolling (to no avail)
      $modal
        .removeClass('modal-scrollfix')
        .modal('handleUpdate');
    });
});
</script>
{% endblock %}




{% block content1 %}

	<H2 class="text-success"> <strong>Upcomming and on-going Events...</strong> </H2>

	<hr class="dashed" />
	<div class="row">
	{% include 'shared/events.html'%}
	</div>

	<H2 class="text-warning"> <strong>Birthday and Anniversary reminder</strong> </H2>

	<hr class="dashed" />
	<div class="row">
		{% for birthday in birthdays %}
			{% include 'shared/birthday_reminder.html' %}
		{% endfor %}

		{% for anniversary in anniversaries %}
			{% include 'shared/aviversaries.html'%}
		{% endfor %}
	</div>

	<H2>Upcomming Birthday and Anniversary reminder</H2>
	<hr class="dashed" />
	<div class="row">
	{% for upcomming in upcomming_bdays %}
		{% include 'shared/birthdays_upcomming.html'%}
	{% endfor %}
	</div>


{% endblock %}

{% block js1 %}
	<script src="{% static 'assets/js/plugins/stat/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/raphael/raphael-2.1.0.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.resize.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.time.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.pie.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.tooltip.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/datatable/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/datatable/dataTables.bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-mapael/jquery.mapael.js' %}"></script>
	<script src="{% static 'assets/js/plugins/raphael/maps/usa_states.js' %}"></script>
	<script src="{% static 'assets/js/king-chart-stat.js' %}"></script>
	<script src="{% static 'assets/js/king-table.js' %}"></script>
	<script src="{% static 'assets/js/king-components.js' %}"></script>

{% endblock %}