<div id="left-sidebar" class="left-sidebar ">
<!-- main-nav -->
<div class="sidebar-scroll">
	<nav class="main-nav">
	<ul class="main-menu">
		<li class="active"><a href="{% url 'user-dashboard' %}"><i class="fa fa-dashboard fa-fw"></i><span class="text">Dashboard</a></li>

		<li><a href="{% url 'user-profile' %}"><i class="fa fa-edit"></i><span class="text">Profile</span></a></li>

		<li><a href="{% url 'users-listing' %}"><i class="fa fa-tasks"></i><span class="text">See Users </span></a></li>

		<li><a href="{% url 'vehicle-search' %}"><i class="fa fa-briefcase"></i><span class="text">Vehicle Information</span></a></li>
		<li><a href="{% url 'account_logout' %}"><i class="fa fa-user"></i><span class="text">Logout</span></a></li>

	</ul>
	</nav>
<!-- /main-nav -->
</div>
</div>