{% extends "nolayout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page">
  		{% include 'includes/logo.html' %}
    	<h1>{% trans "Change Password" %}</h1>
    	
		<div class="login-box center-block">
    	    <form method="POST" class="form-horizontal" role="form" action="{% url 'account_change_password' %}">
			    {% csrf_token %}
				  <div class="form-group">
		          <label for="username" class="control-label sr-only">Username</label>
		          <div class="col-sm-12">
		            <div class="input-group">
		              {{form.oldpassword}}
		              <span class="input-group-addon"><i class="fa fa-user"></i></span>
		            </div>
		          </div>
		        </div>
		        <label for="password" class="control-label sr-only">Password</label>
		        <div class="form-group">
		          <div class="col-sm-12">
		            <div class="input-group">
		              {{form.password1}}
		              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
		            </div>
		          </div>
		        </div>
		        <div class="form-group">
		          <div class="col-sm-12">
		            <div class="input-group">
		              {{form.password2}}
		              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
		            </div>
		          </div>
		        </div>
			    <button type="submit" class="btn btn-custom-primary btn-lg btn-block btn-auth"><i class="fa fa-arrow-circle-o-right"></i> Submit</button>
    	    </form>
    	</div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#id_oldpassword').attr('class','form-control');
    $('#id_password1').attr('class','form-control');
    $('#id_password2').attr('class','form-control');
        {% if messages %}
          {% for message in messages %}
            alert("{{ message }}");
          {% endfor %}
        {% endif %} 
  });
</script>
{% endblock %}
