{% load widget_tweaks %}
<div class="row">
<div class="col-md-12">
    <section class="widget">
        <header>
            <h4><i class="fa fa-user"></i>Create New Profile</h4>
        </header>
        <div class="body">
            <form id="create-faimily-form" class="form-horizontal form-label-left"
                  novalidate="novalidate"
                  method="post" action="{% url 'users-create-faimily'%}"
                  enctype="multipart/form-data"
                  >
                  {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="text-align-center">
                            <img class="img-circle" src="/static/img/3.png" alt="64x64" style="height: 112px;">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <fieldset class="mt-sm">
                            <legend>Login Details</legend>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="first-name">Email ID<span class="required">*</span></label>
                                <div class="col-sm-8">
                                {{login_form.email|add_class:"form-control"|attr:"required:required"}}
                                <span class="label label-important">{{login_form.email.errors}}</span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="first-name">Password<span class="required">*</span></label>
                                <div class="col-sm-8">
                                {{login_form.password1|add_class:"form-control"|attr:"required:required"}}
                                <span class="label label-important">{{login_form.password1.errors}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-4" for="first-name">Re password</label>
                                <div class="col-sm-8">

                                {{login_form.password2|add_class:"form-control"}}
                                <span class="label label-important">{{login_form.password2.errors}}</span>

                                </div>
                            </div>

                        </fieldset>

                    </div>
                </div>

                <fieldset class="mt-sm">
                    <legend>Residential Details</legend>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="leaving_type">Relationship <span class="required">*</span></label>
                        <div class="col-sm-8">
                        {{form.leaving_type|add_class:"form-control"|attr:"required:required"}}
                        <span class="label label-important">{{form.leaving_type.errors}}</span>
                        </div>
                    </div>

                </fieldset>
                <fieldset class="mt-sm">
                    <legend class="section">Personal Info</legend>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="name">Your Full Name <span class="required">*</span></label>
                        <div class="col-sm-8">
                        {{form.name|add_class:"form-control"|attr:"required:required"}}
                        <span class="label label-important">{{form.name.errors}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="mobile">Mobile Number<span class="required">*</span></label>
                        <div class="col-sm-8">
                        {{form.mobile|add_class:"form-control"|attr:"required:required"}}
                        <span class="label label-info">In case of wife and daughter put your mobile</span>
                        <span class="label label-important">{{form.mobile.errors}}</span>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="last-name">Date of Birth<span class="required">*</span></label>
                        <div class="col-sm-8">
                        <div class='input-group date' id='date_dob'>
                            {{form.dob|add_class:"form-control date"|attr:"required:required"}}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                        <span class="label label-important">{{form.dob.errors}}</span>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="last-name">Date of Aniversary</label>
                        <div class="col-sm-8">

                        <div class='input-group date' id='date_dob'>
                            {{form.doa|add_class:"form-control date"}}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                        <span class="label">Optional</span>
                        <span class="label label-important">{{form.doa.errors}}</span>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="last-name">Job Category<span class="required">*</span></label>
                        <div class="col-sm-8">
                        {{form.job_category|add_class:"form-control"|attr:"required:required"}}
                        <span class="label label-important">{{form.job_category.errors}}</span>

                      </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</div>
</div>

<script src="/static/lib/moment/moment.js"></script>
<script src="/static/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
    $('.date').datetimepicker({
        viewMode: 'years',
        format: 'DD/MM/YYYY',
    });
</script>