<div class="login-box center-block">
  
    <form class="form-horizontal" role="form" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <p class="title">Use your username</p>
        <div class="form-group">
          <label for="username" class="control-label sr-only">Username</label>
          <div class="col-sm-12">
            <div class="input-group">
              {{form.login}}
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
            </div>
          </div>
        </div>
        <label for="password" class="control-label sr-only">Password</label>
        <div class="form-group">
          <div class="col-sm-12">
            <div class="input-group">
              {{form.password}}
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            </div>
          </div>
        </div>
      
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      {% include 'includes/login_button.html' %}
    
    </form>
  </div>