<div class="top-bar navbar-fixed-top">
<div class="container">
<div class="clearfix">
	<a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
	<!-- logo -->
	<div class="pull-left left logo">
		<a href="#">
		<!-- <img src="assets/img/kingadmin-logo-white.png" alt="KingAdmin - Admin Dashboard" /></a> -->
		<h1 class="sr-only">KingAdmin Admin Dashboard</h1>
	</div>
	<!-- end logo -->
	<div class="pull-right right">
		<!-- end search box -->
		<!-- top-bar-right -->
		<div class="top-bar-right">
			<a href="{% url 'account_logout' %}"><button type="button" id="start-tour" class="btn btn-link">Logout</button></a>

			<div class="logged-user">
				<div class="btn-group">
					<a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
						<img src="assets/img/user-avatar.png" alt="User Avatar" />
						<span class="name">{{request.user.username}}</span> <span class="caret"></span>
					</a>

					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#">
								<i class="fa fa-user"></i>
								<span class="text">Profile</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-cog"></i>
								<span class="text">Settings</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-power-off"></i>
								<span class="text">Logout</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- end logged user and the menu -->
		</div>
		<!-- end top-bar-right -->
	</div>
</div>
</div>
<!-- /container -->
</div>
