{% load staticfiles %}
	<script src="{% static 'assets/js/jquery/jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap/bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/plugins/modernizr/modernizr.js' %}"></script>
	<script src="{% static 'assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'assets/js/king-common.js' %}"></script>
	<script src="{% static 'assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>

	
	
<!-- 	<script src="{% static 'assets/js/plugins/stat/jquery.easypiechart.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/raphael/raphael-2.1.0.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.resize.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.time.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.pie.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/stat/flot/jquery.flot.tooltip.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/datatable/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/js/plugins/datatable/dataTables.bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/plugins/jquery-mapael/jquery.mapael.js' %}"></script>
	<script src="{% static 'assets/js/plugins/raphael/maps/usa_states.js' %}"></script>
	<script src="{% static 'assets/js/king-chart-stat.js' %}"></script>
	<script src="{% static 'assets/js/king-table.js' %}"></script> -->
	<!-- <script src="{% static 'assets/js/king-components.js' %}"></script> -->

	