<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li>
            <a href="{% url 'user-dashboard'%}"><i class="fa fa-home fa-dcustom"></i> <span class="name">DASHBORD</span></a>
        </li>

        <li>
            <a href="{% url 'users-listing' %}"><i class="fa fa-user fa-dcustom"></i> <span class="name">Comos Members</span></a>
        </li>

        <li>
            <a href="{% url 'vehicle-search' %}"><i class="fa fa-search-plus fa-dcustom"></i> <span class="name">Cosmos Vehicle</span></a>
        </li>
    </ul>
</nav>  