
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-edit"></i> Basic Input</h3></div>
	<div class="widget-content">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-md-2 control-label">Text Field</label>
				<div class="col-md-10">
					<input type="text" class="form-control" placeholder="text field">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Password</label>
				<div class="col-md-10">
					<input type="password" class="form-control" value="asecret">
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Textarea</label>
				<div class="col-md-10">
					<textarea class="form-control" placeholder="textarea" rows="4"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Select</label>
				<div class="col-md-10">
					<select class="form-control">
						<option value="cheese">Cheese</option>
						<option value="tomatoes">Tomatoes</option>
						<option value="mozarella">Mozzarella</option>
						<option value="mushrooms">Mushrooms</option>
						<option value="pepperoni">Pepperoni</option>
						<option value="onions">Onions</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Multiple</label>
				<div class="col-md-10">
					<select multiple class="form-control">
						<option value="cheese">Cheese</option>
						<option value="tomatoes">Tomatoes</option>
						<option value="mozarella">Mozzarella</option>
						<option value="mushrooms">Mushrooms</option>
						<option value="pepperoni">Pepperoni</option>
						<option value="onions">Onions</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Checkbox</label>
				<div class="col-md-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" value="item1"> Item 1
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="item2"> Item 2
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" value="item3"> Item 3
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Inline</label>
				<div class="col-md-10">
					<label class="checkbox-inline">
						<input type="checkbox" value="item1"> Item 1
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="item2"> Item 2
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="item3"> Item 3
					</label>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-2 control-label">Inline</label>
				<div class="col-md-10">
					<label class="radio radio-inline">
						<input type="radio" name="radioinline" value="radio1"> Radio Item 1
					</label>
					<label class="radio radio-inline">
						<input type="radio" name="radioinline" value="radio2"> Radio Item 2
					</label>
					<label class="radio radio-inline">
						<input type="radio" name="radioinline" value="radio3"> Radio Item 3
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="exampleInputFile" class="col-md-2 control-label">File input</label>
				<div class="col-md-10">
					<input type="file" id="exampleInputFile">
					<p class="help-block"><em>Example block-level help text here.</em></p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Static Control</label>
				<div class="col-sm-10">
					<p class="form-control-static">email@example.com</p>
				</div>
			</div>
		</div>
	</div>
</div>