{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
<div class="col-md-12">
<section class="widget">
    <header>
        <h4>
            Vehicle finder, you can search  Vehicle details here<span class="fw-semi-bold">parking sticker provide can add as well by click on plus icon </span>
        </h4>
        <div class="widget-controls">
            <a title="Add New Member" href="{% url 'vehicle-create-manager' %}"  ><i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </header>
    <div class="body">
        <table id="vehicle-search" class="table table-striped table-bordered widget-table-overflow">
            <thead>
            <tr>
                <th class="hidden-xs">#</th>
                <th class="hidden-xs">Owner Name</th>
                <th>Address</th>
                <th>Sticker Number</th>
                <th>Vehicle Number</th>
                {% if user.is_staff %}
                    <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for object in object_list%}
                <tr>
                    <td class="hidden-xs">{{ forloop.counter }}</td>
                    <td class="hidden-xs">{{object.get_flat_vehicle_names}}</td>
                    <td>
                        <p class="no-margin"><small>
                            <span class="fw-semi-bold">Block:</span>
                            <span class="text-muted">&nbsp; {{object.flat.get_block}}</span>
                        </small></p>

                        <p><small>
                            <span class="fw-semi-bold">Flat Number:</span>
                            <span class="text-muted">&nbsp; {{object.flat.number}}</span>
                        </small></p>
                    </td>

                    <td >
                        {{object.serial_number}}
                    </td>
                    <td >
                        {{object.vehicle_number}}
                    </td>
                    {% if user.is_staff %}
                        <td><a title="Edit it" href="{% url 'vehicle-edit-manager' object.id %}" ><i class="glyphicon glyphicon-pencil"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</section>
</div>
</div>

{% endblock content %}

{% block EXTRAJS%}
<script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    $('#vehicle-search').DataTable();
});
</script>
{% endblock%}