{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% if form.errors %}
{% block alerts %}
	<div class="alert alert-danger top-general-alert">
		<span> <strong>{{form.eoors}}</strong> </span>
		<button type="button" class="close">&times;</button>
	</div>
{% endblock alerts %}
{% endif %}

	{% block breadcrumb_li %}
	<li><i class="fa fa-home"></i><a href="/">Home</a></li>
	<li><i class="fa fa-edit"></i><a href="{% url 'vehicle-create' %}">Vehicle Create</a></li>
	{% endblock breadcrumb_li %}


{% block main_header %}
{% endblock main_header%}

{% block content %}
<center>
<div class="main-content">
	<div class="row">
		<div class="col-md-9">
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-edit"></i>Create New Vehicle Details</h3></div>
				<div class="widget-content">
					<div class="form-horizontal">
						
						<form action = "." method='POST'>
						{% csrf_token %}
							<div class="form-group">
								<label class="col-md-2 control-label">{{form.flat.label}}</label>
								<div class="col-md-4">
									{{form.flat|add_class:"form-control"}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">{{form.serial_number.label}}</label>
								<div class="col-md-4">
									{{form.serial_number|add_class:"form-control"}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">{{form.vehicle_number.label}}</label>
								<div class="col-md-10">
									{{form.vehicle_number|add_class:"form-control"}}
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">{{form.amount.label}}</label>
								<div class="col-md-10">
									{{form.amount|add_class:"form-control"}}
								</div>
							</div>
							<div class="form-group">
								<div style="margin-left: 180px;" class="col-md-6">
								<center>
									<input type="submit" name="" value='submit' class='btn btn-primary btn-block'>
								</center>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</center>
{% endblock %}

{% block js %}

<script src="{% static 'assets/js/plugins/select2/select2.min.js' %}"></script>
<script type="text/javascript">
    $("#id_dob, #id_doa").datepicker();
</script>

{% endblock js %}