{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="KingAdmin Dashboard">
		<meta name="author" content="The Develovers">
		<!-- CSS -->
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'assets/css/main.css' %}" rel="stylesheet" type="text/css">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/kingadmin-favicon144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/kingadmin-favicon114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/kingadmin-favicon72x72.png">
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/ico/kingadmin-favicon57x57.png">
		<link rel="shortcut icon" href="assets/ico/favicon.png">
	</head>

	<body>
		{% block content %}
		<div class="wrapper full-page-wrapper page-auth page-login text-center">
			<div class="inner-page">
				<div class="login-box center-block">
					<form class="form-horizontal" role="form">
						<p class="title">Use your username</p>
						<div class="form-group">
							<label for="username" class="control-label sr-only">Username</label>
							<div class="col-sm-12">
								<div class="input-group">
									<input type="text" placeholder="username" id="username" class="form-control">
									<span class="input-group-addon"><i class="fa fa-user"></i></span>
								</div>
							</div>
						</div>
						<label for="password" class="control-label sr-only">Password</label>
						<div class="form-group">
							<div class="col-sm-12">
								<div class="input-group">
									<input type="password" placeholder="password" id="password" class="form-control">
									<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								</div>
							</div>
						</div>
						<label class="fancy-checkbox">
							<input type="checkbox">
							<span>Remember me next time</span>
						</label>
						<button class="btn btn-custom-primary btn-lg btn-block btn-auth"><i class="fa fa-arrow-circle-o-right"></i> Login</button>
					</form>
					<div class="links">
						<p><a href="#">Forgot Username or Password?</a></p>
						<p><a href="#">Create New Account</a></p>
					</div>
				</div>
			</div>	
		</div>
		{% endblock %}
		<!-- Javascript -->
		<script src="{% static 'assets/js/jquery/jquery-2.1.0.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap/bootstrap.js' %}"></script>
		<script src="{% static 'assets/js/plugins/modernizr/modernizr.js' %}"></script>
	</body>

</html>
