{% load staticfiles %}
<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Login to cosmos City portal</title>
    <link href="/static/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/sattic/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="comos city portal for socity">
    <meta name="author" content="yogesh dwivedi">
    <meta charset="utf-8">
    <script>
    </script>
</head>


<body>
     <div class="single-widget-container">
     {% block content %}

	{% endblock %}
	</body>

</html>
