<section class="widget widget-tabs">
    <header>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#current_event" data-toggle="tab">Current Events</a>
            </li>

            <li>
                <a href="#upcomming_event" data-toggle="tab">Next Week Events</a>
            </li>
        </ul>
    </header>

    <div class="body tab-content">
        <div id="current_event" class="tab-pane active clearfix">
            <ul class="news-list">
                {% for event in events %}
                <li>
                    <img src="/static/img/1.png" alt="" class="pull-left img-circle"/>
                    <div class="news-item-info">
                        <div class="name"><a href="#">{{event.title}}</a></div>
                        <div class="position">Cosmos Event</div>
                        <div class="time">Event datetime-{{event.date}}</div>
                    </div>
                </li>
                {% empty %}
                    <li>
                        <img src="/static/img/13.png" alt="" class="pull-left img-circle"/>
                        <div class="news-item-info">
                            <div class="name">No Event<a href="#upcomming_event">Check Upcoming</a></div>
                        </div>
                    </li>
                {% endfor %}            
            </ul>
        </div>
        <div id="upcomming_event" class="tab-pane">
            <h5 class="tab-header"><i class="fa fa-star"></i> Popular Events</h5>
            <ul class="news-list news-list-no-hover">
                {% for event in events %}
                <li>
                    <img src="/static/img/1.png" alt="" class="pull-left img-circle"/>
                    <div class="news-item-info">
                        <div class="name"><a href="#">{{event.title}}</a></div>
                        <div class="time">Event datetime-{{event.date}}</div>
                        <div class="options">
                            <button class="btn btn-xs btn-success">
                                <i class="fa  clock-o"></i>
                                    {{event.date}}
                            </button>
                            <button class="btn btn-xs btn-success">
                                <i class="fa fa-thumbs-up"></i>
                            </button>
                            <button class="btn btn-xs btn-warning">
                                <i class="fa fa-thumbs-down"></i>
                            </button>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>