<div class="row">
	<div class="col-md-4 ">
		<ul class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="#">Home</a></li>
			<li class="active">Dashboard</li>
		</ul>
	</div>
	<div class="col-md-8 ">
		<div class="top-content">
			<ul class="list-inline mini-stat">
				<li>
					<h5>Vehicle VEHICLE'S <span class="stat-value stat-color-orange"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
					
				</li>
				<li>
					<h5>TOTSAL USERS<span class="stat-value stat-color-blue"><i class="fa fa-plus-circle"></i> 150,743</span></h5>
				</li>
				<li>
					<h5>RENTED  <span class="stat-value stat-color-seagreen"><i class="fa fa-plus-circle"></i> 43,748</span></h5>
				</li>
			</ul>
		</div>
	</div>
</div>