{% extends "nolayout.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="wrapper full-page-wrapper page-auth page-login text-center">
    <div class="inner-page">
        {% include 'includes/logo.html' %}
        <h1>{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail</p><p> address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <div class="login-box center-block">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username" class="control-label sr-only">Username</label>
                  <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        {{form.email}}
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                  </div>
                </div>
                <div class='reset-button'>
                    <input type="submit" class="btn btn-custom-secondary" value="{% trans 'Reset My Password' %}"/>
                </div>
            </form>
        </div>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
<script type="text/javascript">
    $('#id_email').attr('class','form-control');
</script>
{% endblock %}
